link(rel='stylesheet', href='/css/calendar/calendar.css')
//- cf)
//- JSON.stringify 를 사용하면 
//- router 의 데이터를 view template 로 가져올 때 생성되는 
//- 불필요한 데이터가 포함되지 않는다.
//- !{}: 괄호 안의 내용을 escaping 하지 않고 코드 그대로 출력
script.
  const conData = !{JSON.stringify(conData)}
script(src="/js/calendar/calendar.js")
script(src="/js/calendar/search.js")
script(src="/js/calendar/schedule.js")
section.calendar.container#main2
  div.calendar.main
    div.calendar_tools
      div.button_box
        button.prev
        div.number_box
          h2.year
          h1.month
        button.next
        button.today today
      form(method="POST").search_box
        input(type="text", placeholder="공연 일정 검색").input_search
        button(type="button").btn_search
        button(type="button").btn_search_detail 상세 
          div.btn_search_detail_arrow.active
    div.search_detail_dropdown_box.visible
      form(method="POST", action="/list").search_detail_dropdown
        div.search_detail_input_box
          label(for="input_search_date") 기간
          input(type="date", name="start_date")#input_search_start
          span -
          input(type="date", name="end_date")#input_search_end
        div.search_detail_input_box
          label(for="input_search_title") 제목
          input(type="text", name="concert_name", placeholder="제목")#input_search_title
        div.search_detail_input_box
          label(for="input_search_place") 장소
          input(type="text", name="concert_place", placeholder="장소")#input_search_place
        div.search_detail_input_box
          label(for="input_search_artist") 가수
          input(type="text", name="artist_name", placeholder="출연진")#input_search_cast
        //- cf) 지역, 장르는 DB 에서 데이터를 받아와 for in (객체 내 속성 iterate) 을 사용
        div.search_detail_input_box
          label(for="input_search_loc") 지역
            div.search_loc_dropdown_box
              for loc in locData
                input(type="checkbox", name="concert_loc", value=`${loc.kor}`, id=`${loc.eng}`)
                label(for=`${loc.eng}`)= loc.kor
        div.search_detail_input_box
          label(for="input_search_genre") 장르
            div.search_genre_dropdown_box
              for genre in genreData
                input(type="checkbox", name="genre_code", value=`${genre.genre_code}`, id=`${genre.genre_name}`)
                label(for=`${genre.genre_name}`)= genre.genre_name
        button(type="button")#btn_search_schedule 검색
    include ./schedule.pug
  
  aside.calendar.my_schedule
    div.ticket_shape
      div.ticket_shape.header 나의 일정
        div.ticket_shape.barcode
        div.ticket_shape.cut
      div.ticket_shape.body
        div.ticket_shape.content
        
        div.bg_image
  div.calendar.modal
    div.calendar.modal_content
        button(type="button").modal.btn_close X
        img.modal.image
        div.modal.desc
            input(type="checkbox", name="bookmark", value="true").modal#bookmark
            label(for="bookmark").modal.label_bookmark
            div.modal.title
              div.name
              div.date
                span.start_date
                span.dash &nbsp;~&nbsp; 
                span.end_date
              div.place
        div.modal.button_box
          a.modal#btn_info 상세정보
          a.modal#btn_ticketing 예매하기
  div.bg_blur