div.info.list
    div.neonsign Enjoy Your Life!
    div.bookmark_conlist
    each list in conList
        div.bmk_list_box 
            img(src=`${list.concert_poster}`).poster
            div.name= list.concert_name
            div.date 
                span.start= list.start_date
                span.dash &nbsp;~&nbsp;
                span.end= list.end_date
            div.place= list.concert_place
            div.dday 디데이 표시
            input(type="checkbox")#bookmark
            label(for="bookmark")
            a(href=`${list.concert_ticketing}`, target="_blank").ticketing 예매하기
    
    h2 장르별 공연 추천 리스트
    div.recommend_conlist
    each list in recommendConList 
        div.rcmd_list_box
            img(src=`${list.concert_poster}`).poster
            div.name= list.concert_name 
            div.date
                span.start= list.start_date
                span.dash &nbsp;~&nbsp;
                span.end= list.end_date
            div.place= list.concert_place
            div.dday 디데이 표시
            input(type="checkbox")#bookmark
            label(for="bookmark")
            div.genre
