extends layout

block content
    script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
    script(src="/js/concert.js")
    link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
    link(rel="stylesheet", href="/css/concert.css")
    section.concert.content 
        div.concert.header
            div.header.box
                if body == 1
                    h1 공연
                else 
                    h1 페스티벌
                if body == 1
                    button.active(data-index="0") 국내
                    button(data-index="1") 내한
                    
        article.concert.banner
            div.image-view
                img(src=`${concert[0].concert_poster}`)
            div.image-list
                - for(let i = 0; i < 4 ; i++)
                    img(src=`${concert[i].concert_poster}`, alt="")
        article.concert.info
            h2 공연정보
            div.concert.poster
                - for(let i = 0; i < 4 ; i++)
                    a(href="")
                        img(src=`${concert[i].concert_poster}`, alt="")
                        div
                            div.title= concert[i].concert_name
                            div.region= concert[i].concert_loc
                            div.date= concert[i].start_date + "-" + concert[i].end_date
            div.concert.poster
                - for(let i = 0; i < 3 ; i++)
                    a(href="")
                        img(src=`${concert[i].concert_poster}`, alt="")
                        div
                            div.title= concert[i].concert_name
                            div.region= concert[i].concert_loc
                            div.date= concert[i].start_date + "-" + concert[i].end_date
        article.concert.region
            div.region
                div.region.box
                    h1 지역별
                    button.active(data-index="0") 서울
                    button(data-index="1") 경기
                    button(data-index="2") 경상도
                    button(data-index="3") 전라도
                    button(data-index="4") 강원도
                    button(data-index="5") 제주
            div.region.poster
                - for(let i = 0; i < 2 ; i++)
                    a(href="")
                        img(src=`${rConcert[i].concert_poster}`, alt="")
                        div
                            div.title= rConcert[i].concert_name
                            div.date= rConcert[i].start_date + "-" + rConcert[i].end_date
            div.region.poster
                - for(let i = 0; i < 2 ; i++)
                    a(href="")
                        img(src=`${rConcert[i].concert_poster}`, alt="")
                        div
                            div.title= rConcert[i].concert_name
                            div.date= rConcert[i].start_date + "-" + rConcert[i].end_date               