extends layout 
block content
    link(rel="stylesheet", href="/css/detail.css")
    script(src="/js/detail.js")
    section.scroll.detail
        div.detail.etc
            span.type= conInfo.concert_type    
            span.loc= conInfo.concert_loc        
            span.views 조회수 #{conInfo.concert_views}
        div.detail.top
            div.top.poster
                img(src=`${conInfo.concert_poster}`)
            div.top.content(data-code=`${conInfo.concert_code}`)
                div.top.title 
                    input(type="checkbox")#bookmark
                    label(for="bookmark")
                    h2= conInfo.concert_name
                    a(href=`${conInfo.concert_ticketing}`, target="_blank")#ticketing
                        i(class="fa-solid fa-ticket") 예매하기 
                div.top.desc
                    div.place.label 장소
                    div.place= conInfo.concert_place
                    div.date.label 기간
                    div.date 
                        span.date.from= conInfo.start_date
                        span.date.dash &nbsp;~&nbsp;
                        span.date.to= conInfo.end_date
                    div.genre.label 장르
                    div.genre= conInfo["fk_concert.genre.genre_name"]
        div.detail.bottom
            h2.artist.detail 가수정보
            div.bottom.desc
                each artist of artInfo
                    div.artist.info
                        img(src=`${artist.artist_img}`).artist.img
                        div.artist.title
                            span.artist.name= artist.artist_name
                            span.artist.type= artist.artist_type 
                        div.artist.desc
                            span.label 데뷔년도
                            span.artist.debut= artist.artist_debut
                            span.label 장르
                            span.artist.genre= artist.genre_name




        