extends layout 
block content
    link(rel="stylesheet", href="/css/detail.css")
    //- let id= !{JSON.stringify(concert)};
    section.scroll.detail
        div.detail.top
            div.top.img
                img(src=`${concert.url}`)
            div.top.content
                div.top.title 
                    h2= concert.title
                    span.genre= concert.genre
                    button(type="button")#ticketing 예매하기 
                div.top.desc
                    div.place.label 장소
                    div.place= concert.place
                    div.time.label 관람시간
                    div.time= concert.time
                    div.date.label 기간
                    div.date 
                        span.date.from= concert.start
                        span.date.dash &nbsp;-&nbsp;
                        span.date.to= concert.end
                    div.rate.label 관람등급
                    div.rate= concert.rate
                    div.price.label 가격
                    div.price= concert.price
                    div.discount.label 할인정보
                    div.discount= concert.discount
        div.detail.bottom
            h2 상세정보
            div.bottom.desc




        