extends layout 
block content
    link(rel="stylesheet", href="/css/detail.css")
    //- let id= !{JSON.stringify(concert)};
    section.scroll.detail
        div.detail.top
            div.top.img
                img(src=`${conInfo.concert_poster}`)
            div.top.content
                div.top.title 
                    h2= conInfo.concert_name
                    span.genre= conInfo.genre_name
                    button(type="button")#ticketing 예매하기 
                div.top.desc
                    div.place.label 장소
                    div.place= conInfo.concert_place
                    div.time.label 관람시간
                    div.time
                    div.date.label 기간
                    div.date 
                        span.date.from= conInfo.start_date
                        span.date.dash &nbsp;-&nbsp;
                        span.date.to= conInfo.end_date
                    div.rate.label 관람등급
                    div.rate
                    div.price.label 가격
                    div.price
                    div.discount.label 할인정보
                    div.discount
        div.detail.bottom
            h2 상세정보
            div.bottom.desc= conInfo.artist_name




        