extends layout 
block content
    link(rel="stylesheet", href="/css/list.css")
    section.concert.list 
        div.concert.msg 총 #{listCount}개의 검색결과가 있습니다.
        div.concert.list_container
            each concert in listData
                a(href=`/detail/${concert.concert_code}`, target="_blank")
                    div.list_box
                        div.poster
                            img(src=`${concert.concert_poster}`)
                        div.desc
                            div.title= concert.concert_name
                            div.date
                                span.date.start= concert.start_date
                                span.date.dash &nbsp;~&nbsp;
                                span.date.end= concert.end_date
                            div.place= concert.concert_place