tbody 
    each list in lists
        tr(data-id= `${list.seq}`).item
            td= list.sort_board
            td= list.b_nickname
            td= list.b_title
            td= list.b_update_date
            td 12