tbody 
    each list in lists
        tr(data-id= `${list.seq}`).item
            td= list.sort_board
            td= list.b_nickname
            td= list.b_title
            td= list.b_update_date
            td 12
    each board in boards
        tr(data-id= `${board.seq}`).item
            td= board.sort_board
            td= board.b_nickname
            td= board.b_title
            td= board.b_update_date
            td 12